name: Deploy Application
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: install nodejs  
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: install dependencies
        run: |
            npm audit fix
            npm install
      - name: Run tests
        run: npm test
  deploy:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Application
        run: |
          echo "Deploying Application..."
          npm run dev
      
        
      

        